<div class="page">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- header -->
            <page-header class="pull-left" header="site.header"></page-header>

            <!-- nav -->
            <page-navigation class="pull-right" navigation="site.navigation"></page-navigation>
        </div>
    </nav>
    <!-- Angular-UI-Router entry point -->
    <div ui-view class="container"></div>

    <!-- footer -->
    <page-footer footer="site.footer"></page-footer>
</div>