
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unsupported Browser</title>
</head>
<body>
    <h1>Unsupported Browser</h1>
    <p>Update your browser!</p>
</body>
</html>
